<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1 id="myModalLabel"><%= generate_iPhase_quote %></h1>
  </div>
  <div class="modal-body">
    <p>Our new album 3 Presidents if finally out! You can listen to it <%= link_to 'here', 'http://superiphase3ds.bandcamp.com', target: '_blank' %>. Please support us with a fine digital purchase of the album so we churn out more turds to polish! </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>