	<div class="container">
		<div id="iphad">
			<div id="screen">
					<div id="icon-area">
						<%= image_tag 'conga.jpg'%>
						<img src="img/fb.jpg" />
						<img src="img/music.jpg" />
					</div>
			</div>
		</div>
	</div>